@{
    ViewData["Title"] = "Home Page";
}

<h1>ASP.NET Core on Zeit Now</h1>
<br/>
<h2>Find this project on GitHub:</h2>
<h3><a href="https://github.com/josemnbcamacho/aspnet-lambda-now">https://github.com/josemnbcamacho/aspnet-lambda-now</a></h3>